div.game-wrapper {
    max-width: 1000px;
    margin: auto;
    perspective: 500px;
}

div.upg-container {
    height: auto;
    padding: 1em 0;
    width: 100%;
    display: grid;
    justify-items: center;
    overflow: auto;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    row-gap: 50px;
}

div.cand-container {
    height: auto;
    padding: 1em 0;
    width: 100%;
    display: grid;
    justify-items: center;
    overflow: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 50px;
    perspective: 500px;
    overflow: hidden;
    min-height: 360px;
}

div.mainBar {
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--secondary);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    align-items: center;
    margin: 0 2rem;
    border-radius: 0 0 20px 20px;
    flex-wrap: wrap;
}

progress.send-bar {
    -webkit-appearance: none;
    border: none;
    display: block;
}

progress.send-bar::-webkit-progress-bar {
    background: white;
    border-radius: 45px;
    padding: 2px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress.send-bar::-moz-progress-bar {
    background-color: green;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 75%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    border-radius: 45px;
    padding: 2px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress.send-bar {
    border-radius: 45px;
}

progress.send-bar::-webkit-progress-value {
    border-radius: 25px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4); 
    background-size: 250px 25px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 75%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
}

div.functions-bar {
    background-color: var(--secondary);
    margin-bottom: 2rem;
    margin: 2rem;
    border-radius: 5px 5px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);;
}

div.functions-bar ul.tabs {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border-radius: 5px 5px 0px 0px;
}

div.functions-bar ul.tabs li.tab {
    padding: 1rem;
    color: var(--main-txt);
    font-weight: 400;
}

div.functions-bar ul.tabs li.tab:hover {
    cursor: pointer;
    text-decoration: underline overline;
    text-decoration-color: var(--main-txt);
}

div.functions-bar ul.tabs li.tab.active {
    text-decoration: underline overline;
    text-decoration-color: var(--main-txt);
}

div.btn.btn-generate {
    max-width: 15rem;
    margin: auto;
    margin-top: 1rem;
}

@media screen and (max-width: 500px) {
    div.mainBar {
        margin: 0;
    }
    div.functions-bar {
        margin: 2rem 0;
    } 
    div.staff-bar {
        margin: 2rem 0;
    }
}