div.staff-bar {
    padding: 1rem;
    background-color: var(--tertiary);
    margin: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    flex-wrap: wrap;
    padding-bottom: 0;
}

div.staff-bar h3 {
    margin: 0;
}

div.staff-bar h4 {
    margin: 0.5rem;
    margin-bottom: 1rem;  
    text-shadow: 1px 1px 1px #efefef;
}

div.staff-bar h4.unassigned {
    color: #7f8280;
    font-weight: 200;
    font-style: italic;
}

div.staff-bar h4.name {
    color: var(--primary);
    font-weight: 800;
    
}