.App {
  text-align: center;
}

.btn {
    display: block;
    margin: 1em;
    width: auto;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;  
    outline:none;
    min-width: 5rem;
    text-align: center;
}

.btn:active {
  margin-top: calc(1em + 5px);
  border-bottom: none !important;
  outline: none;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.btn.disabled {
  border-bottom: none !important;
  filter: grayscale(100%);
}

.btn.disabled:active {
  margin-top: 1em;
  border-bottom: none !important;
  outline: none;
}

.btn.disabled:hover {
  cursor: not-allowed;
}

.btn.primary {
  background-color: var(--primary);
  color: var(--main-txt);
  border-bottom: 5px outset var(--primary);
}

.btn.secondary {
  background-color: var(--secondary);
  color: var(--main-txt);
  border-bottom: 5px outset var(--secondary);
}

.btn.tertiary {
  background-color: var(--tertiary);
  color: var(--main-txt);
  border-bottom: 5px outset var(--tertiary);
}

::selection {
  background-color: transparent;
}
  